<html>
	<head>

		<!-- Meta Tags !-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta property="og:title" content="" />
		<meta property="og:type" content="article" />
		<meta property="og:image" content="" />
		<meta property="og:description" content="" />
		<meta name="description" content="">
		<!-- / Meta Tags !-->

		<title>Atlantis Capital</title>

		<link rel="stylesheet" href="../../assets/css/theme.css">

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon-precomposed" href="/screen-icon.png">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="../../app.js"></script>
		<!-- Enable HTML5 elements in IE8 !-->
			<!--[if lt IE 9]>
				<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
		<!-- / Enable HTML5 elements in IE8 !-->
		<script>
			$(document).ready(function() {
				$.breakpointChecker({
					small: 600,
					xLarge: 1200,
				});
			});
		</script>

	</head>



